<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="onToggleSidenav()" *ngIf="!(router.url === '/login' || router.url === '/register')">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Capital Stock</h1>
    <span class="spacer"></span>
    <mat-icon *ngIf="!(router.url === '/login' || router.url === '/register')">account_circle</mat-icon>
      <!--<a mat-button [routerLink]="'/'"> Home </a>-->
      <a *ngIf="(router.url === '/login')" mat-button [routerLink]="'/register'"> Register </a>
      <a *ngIf="(router.url === '/register')" mat-button [routerLink]="'/login'"> Login </a>
  </mat-toolbar-row>
</mat-toolbar>